.hobby{
 padding-bottom:70px;
}
.sketches{
    max-width: 800px;
    margin:0 auto;
    overflow:hidden;
}
.images-wrapper{
    display:flex;
    overflow: auto;
}
.images-wrapper img{
    height: 260px;
    margin-bottom:15px;
    border-radius:20px;
    margin:15px 10px;
    filter: grayscale(1);
    transition:0.2s all ease;
}
