
.testimonial-wrapper{
  max-width:1000px;
  margin:0 auto;
  width:100%;
  box-sizing:border-box;
}
.testimonial-item{
    background-color:var(--eight-color);
    padding:30px;
    border-radius:50px;
}
.slick-slide:nth-child(odd) .testimonial-item{
    background-color:var(--five-color);
}
.testimonial-icon span {
    font-size: 8em;
    line-height: normal;
    position: absolute;
    top: -30px;
    left: -10px;
    opacity: 0.25;
}
.testimonial-icon {
    position: relative;
    padding-bottom: 40px;
}
.testimonial-item .content p {
    font-size: 1.5rem;
    color:var(--second-color);
    font-weight:300;
    line-height:30px;
    position: relative;
}
.testimonial-item .name{
    font-size: 2rem;
    color: var(--second-color);
    font-weight: 500;
    margin: 0;
}
.testimonial-item .desegnation{
    margin:0;
    color: var(--second-color);
}
.slick-dots li button:before {
    font-size: 18px;
}
.slick-slide {
    padding:0 15px;
}